
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigor Bags's</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <% if (error && error.length > 0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 p-3 rounded-md bg-red-500">
            <span class="inline-block mt-1 mb-1 text-white">
                <%= error %>
            </span>
        </div>
    <% } %>      

    <section class="bg-gray-50 dark:bg-gray-900 h-screen ">
        <!-- <section class="bg-gray-50 dark:bg-gray-900 h-screen backdrop-blur-lg"> -->
          <div class="flex items-center justify-end p-4 ">
            <a class="text-white bg-red-500 px-5 py-2 rounded-lg hover:bg-red-700" href="/owners/adminlogin">Admin Login</a>
          </div>
        <div class="flex flex-row h-full  flex flex-col md:flex-row">
          <!-- First section -->
          <div class="w-1/2 flex flex-col items-center justify-center ">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white ">
              <span>Welcome to <span class="text-blue-400">Vigor Bag's </span> </span>  
            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
              <div class="p-6 space-y-4 sm:p-8">
                <h1 class="text-xl font-bold tracking-tight text-gray-900 md:text-2xl dark:text-white">Create an account</h1>

                <!-- SignIn Form -->
                <form class="space-y-4" action="/users/register" method="post">
                  <div>
                    <label for="fullname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
                    <input type="text" name="fullname" id="fullname" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="Harshit Dubey" required>
                  </div>
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="name@company.com" required>
                  </div>
                  <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="••••••••" required>
                  </div>
                  <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 rounded-lg px-5 py-2.5">Create an account</button>
                </form>

              </div>
            </div>
          </div>
      
          <!-- Second section (identical content as placeholder) -->
          <div class="w-1/2 flex flex-col items-center justify-center px-6 py-8 mx-auto">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
              <span>Welcome to <span class="text-blue-400">Vigor Bag's </span> </span>  
            </a>
            <div class="w-full bg-white rounded-lg shadow dark:border sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
              <div class="p-6 space-y-4 sm:p-8">
                <h1 class="text-xl font-bold tracking-tight text-gray-900 md:text-2xl dark:text-white">Login to Your account</h1>

                <!-- Login Form  -->
                <form class="space-y-4" action="/users/login" method="post">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                    <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="name@company.com" required>
                  </div>
                  <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" placeholder="••••••••" required>
                  </div>
                  <button type="submit" class="w-full text-white bg-blue-600 hover:bg-blue-700 rounded-lg px-5 py-2.5">Login to Your account</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </section>
      
</body>
</html>